rascunho.html

 <!-- CARDS SECTION-->
<section class="cards-container-section">
        <div class="card-container-texts">
            <h3 class="card-container-title">Descubre el portafolio de productos omnicanales all-in-one más completo del mercado</h3>
            <p class="card-container-subtitle">Súmale valor al viaje de tu cliente en cada punto de contacto a través del chat, mail, teléfono, WhatsApp y otros canales. Con inConcert vende más, brinda un mejor servicio y reduce costes operativos.</p>
            <p class="card-container-subtitle">Conoce los productos que componen nuestra plataforma omnicanal y modular diseñada para optimizar los contactos con tus clientes y los procesos de marketing, ventas, servicio y cobranza.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/ic-site-producto-2@2x.png" class="card-img-top" alt="Imagem 1">
                            <h5 class="card-title">Conversational Bot</h5>
                            <p class="card-text">Reduce costes y mejora los resultados con inteligencia artificial.</p>
                            <a href="#" class="card-link">Ver producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/ic-site-producto-3@2x.png" class="card-img-top" alt="Imagem 2">
                            <h5 class="card-title">Contact center</h5>
                            <p class="card-text">Obtén todas las herramientas y aplicaciones que necesitas para el éxito de tu centro de contactos.</p>
                            <a href="#" class="card-link">Ver producto</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/ic-site-producto-1@2x.png" class="card-img-top" alt="Imagem 3">
                            <h5 class="card-title">Marketing Automation & CRM</h5>
                            <p class="card-text">Potencia, rentabiliza e integra los procesos de marketing y ventas.</p>
                            <a href="#" class="card-link">Ver producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    /* FONTS */
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
/* BODY */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* HEADER */
.logo-img {
    margin-left: 50px;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #3f446c;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.btn-demo {
    margin-left: 15px;
}

/* Estilos para telas menores que 768px (Mobile) */
@media (max-width: 767px) {
    .logo-img {
        margin-left: 20px;
    }

    .navbar-nav .nav-item {
        margin: 5px 0;
    }

    .navbar-nav .nav-link {
        font-size: 12px;
        line-height: 18px;
    }

    .btn-demo {
        margin-left: 0;
        margin-top: 10px;
    }
}

/* Estilos para telas entre 768px e 1023px (Tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
    .logo-img {
        margin-left: 30px;
    }

    .navbar-nav .nav-item {
        margin: 0 10px;
    }

    .navbar-nav .nav-link {
        font-size: 13px;
        line-height: 20px;
    }
}

/* Estilos para telas maiores que 1024px (Desktop) */
@media (min-width: 1024px) {
    .logo-img {
        margin-left: 50px;
    }

    .navbar-nav .nav-item {
        margin: 0 15px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
        line-height: 22px;
    }
}

/* BANNER */
.banner-container {
    background-image: url("assets/ic-site-background@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
    height: 680px;
    position: relative;
    z-index: 1;
}

.banner-title{
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 18px;
    color: #d2d3dc;
    font-weight: 700;  
}

.banner-subtitle{
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 48px; 
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 50px;
}

.banner-text{
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.banner-text-container{
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

/* Responsivo para dispositivos móveis */
@media (max-width: 767px) {
    .banner-subtitle {
        font-size: 25px;
        line-height: 35px;
    }
    
    .banner-text {
        font-size: 14px;
        font-family: 'OpenSans-Regular', sans-serif;
    }
    
    .banner-container {
        padding: 20px;
        background-image: url("assets/ic-site-background@2x-small.png");
    }
    
}

    /* Responsivo para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .banner-subtitle {
        font-size: 32px;
        line-height: 40px;
    }
    
    .banner-text {
        font-size: 15px;
    }
}

   /* Responsivo para desktops */
@media (min-width: 1024px) {
    .banner-container {
        height: 680px;
    }
}


/* SECTION CARDS CONTAINER */

/* .cards-container-section{
    padding: 100px 60px;
    position: relative;
    background-color: rgb(242, 244, 247);
}

.card-container-texts{
    text-align: center;
    margin: 0 200px;
    padding-bottom: 38px;
}

.card-container-title{
    font-family: 'OpenSans-ExtraBold', sans-serif;
    color: #1d2351;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
    line-height: 42px;
}

.card-container-subtitle{
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #353535;
    margin-bottom: 28px;
    line-height: 28px;
    text-align: center;
} */

.card-container-section {
    padding: 100px 60px;
    background-color: rgb(242, 244, 247);
}

.card-container-texts {
    text-align: center;
    margin: 0 200px;
    padding-bottom: 38px;
}

.card-container-title {
    font-family: 'OpenSans-ExtraBold', sans-serif;
    color: #1d2351;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
    line-height: 42px;
}

.card-container-subtitle {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #353535;
    margin-bottom: 28px;
    line-height: 28px;
    text-align: center;
}

/* CARDS */
/* .card-container {
    display: flex;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 100%;
    flex: 1;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 20px;
    color: #1d2351;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 13px;
}

.card-text {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    color: #353535;
    margin-bottom: 10px;
}

.card-link {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-top: auto;
    } */
    



.card {
/* background-color: #f5f5f5;
border-radius: 10px;
padding: 20px;
margin-bottom: 20px;
flex: 0 0 calc(28% - 15px);
max-width: calc(28% - 15px);
margin-left: 10px;
margin-right: 10px; */


background-color: #f5f5f5;
border-radius: 10px;
padding: 20px;
margin-bottom: 20px;
/* text-align: center; */
}


.card img {
width: 100%;
max-width: 300px;
border-radius: 10px;
margin-bottom: 10px;
/* margin: 0 auto; */
cursor: pointer;
}


.card:hover {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
transform: translateY(-5px);
}


.card-title {
font-family: 'OpenSans-Bold', sans-serif;
font-size: 20px;
color: #1d2351;
margin-bottom: 10px;
margin-top: 15px;
/* margin-bottom: 13px; */
}


.card-text {
font-family: 'OpenSans-Regular', sans-serif;
font-size: 16px;
color: #353535;
margin-bottom: 10px;
}


.card-link {
font-family: 'OpenSans-Regular', sans-serif;
font-size: 16px;
text-decoration: none;
margin-top: auto;
}



    @media (max-width: 767px) {
    /* CSS para dispositivos móveis */
    }
    /* Estilos para tablets */
    @media (min-width: 768px) and (max-width: 1023px) {
    /* CSS para tablets */
    }
    /* Estilos para desktops */
    @media (min-width: 1024px) {
    /* CSS para desktops */
    }
    
   /* CARROUSEL */

.carousel-title {
    font-family: 'OpenSans-Bold', sans-serif;
    margin-top: 0;
    text-align: left;
    color: #1d2351;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.carousel-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding: 100px 150px;
    flex-wrap: wrap;  
}

.carousel-content {
    width: 50%;  
}

.dots-container{
    padding-top: 50px;
}

.carousel-indicators {
    list-style: disc;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    cursor: pointer;
}

.carousel-side-image {
    width: calc(40% - 20px); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.carousel-side-image img {
    max-width: 100%;
    height: auto;
}

.carousel-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.carousel-buttons button {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
}

.btn-primary.btn-lg, .btn-outline-primary.btn-lg{
    font-family: 'OpenSans-SemiBold', sans-serif;
    border: 2px solid;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
}
@media (max-width: 767px) {
    /* CSS para dispositivos móveis */
    }
    /* Estilos para tablets */
    @media (min-width: 768px) and (max-width: 1023px) {
    /* CSS para tablets */
    }
    /* Estilos para desktops */
    @media (min-width: 1024px) {
    /* CSS para desktops */
    }
    

/* FOOTER */
.footer-container {
    padding: 40px;
    background-color: #f2f4f7;
   
}

.footer-text-container{
    font-family: 'OpenSans-Regular', sans-serif;
    display: flex;
    margin-left: 140px;
}

.copyright{
    margin-right: 100px;
    color: #353535;
    font-size: 14px;
    opacity: 1; 
 
}

.link-list {
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.footer-container a {
    color: #353535;
    opacity: 0.7;
    font-size: 13px;
    margin: 0 25px;
}

@media (max-width: 767px) {
    /* CSS para dispositivos móveis */
    }
    /* Estilos para tablets */
    @media (min-width: 768px) and (max-width: 1023px) {
    /* CSS para tablets */
    }
    /* Estilos para desktops */
    @media (min-width: 1024px) {
    /* CSS para desktops */
    }
    
