@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'OpenSans-Italic';
    src: url('fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'OpenSans-Medium';
    src: url('fonts/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-MediumItalic';
    src: url('fonts/OpenSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-SemiBoldItalic';
    src: url('fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


/* BANNER CONTAINER */
.banner-title{
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 18px;
    color: #d2d3dc;
    font-weight: 700;
   
}

.banner-subtitle{
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 48px; 
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 50px;
}

.banner-text{
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.banner-container{
    background-image: url("assets/ic-site-background@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: relative;
    height: 610px;
    position: relative;
    z-index: 1;

}

.banner-text-container{
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
/* SECTION CARDS CONTAINER */

.cards-container-section{
    padding: 70px 59px;
    position: relative;
    background-color: rgb(242, 244, 247);
   
}

.card-container-texts{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;

}

.card-container-title{
    font-family: 'OpenSans-ExtraBold', sans-serif;
    color: #1d2351;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 25px;
}

.card-container-subtitle{
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #353535;
    margin-bottom: 28px;


}
/* CARDS */
.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-left: 5px;
    margin-right: 5px;
}

.card img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    
}

.card-title {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 20px;
    color: #1d2351;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 13px;
}

.card-text {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    color: #353535;
    margin-bottom: 10px;
}

.card-link {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

/* CARROUSEL */

.carousel-side-image {
    width: 40%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-side-image img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-content {
    width: 50%;
    height: 180;
  }
  
  .carousel-title {
    font-family: 'OpenSans-Bold', sans-serif;
    margin-top: 0;
    text-align: left;
    color: #1d2351;
    font-size: 48px;
    font-weight: 700;

  }
  
  .carrousel-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(242, 244, 247);
  }
  
  .dots-container {
    display: flex;
    justify-content: center;
  }
  
  .carousel-indicators {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-indicators li.active {
    background-color: gray;
  }
  