@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/* HEADER */

.navbar-light.bg-light{
    padding: 9px 0;
}

.logo-img{
    margin-left: 50px;
}

.navbar-links-list, .navbar-links-list2 {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 20px;
}

.navbar-button-container{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-grow: 1;
   padding-right: 40px; 
}

.navbar-links-list li, .navbar-button-container li{
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 0 15px;
    list-style: none;
    font-size: 14px;
    line-height: 22px;
    color: #3f446c;
}

/* BANNER */
.banner-container {
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
}


.banner-title{
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 18px;
    color: #d2d3dc;
    font-weight: 700;  
}

.banner-subtitle{
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 48px; 
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 50px;
}

.banner-text{
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.banner-container{
    background-image: url("assets/ic-site-background@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: relative;
    height: 680px;
    position: relative;
    z-index: 1;
}

.banner-text-container{
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
/* SECTION CARDS CONTAINER */

.cards-container-section{
    padding: 100px 60px;
    position: relative;
    background-color: rgb(242, 244, 247);
}

.card-container-texts{
    text-align: center;
    margin: 0 200px;
    padding-bottom: 38px;
}

.card-container-title{
    font-family: 'OpenSans-ExtraBold', sans-serif;
    color: #1d2351;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
    line-height: 42px;
}

.card-container-subtitle{
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #353535;
    margin-bottom: 28px;
    line-height: 28px;
    text-align: center;
}

/* CARDS */
.card-container {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    flex: 0 0 calc(28% - 15px);
    max-width: calc(28% - 15px);
    margin-left: 10px;
    margin-right: 10px;
}

.card img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-title {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 20px;
    color: #1d2351;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 13px;
}

.card-text {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    color: #353535;
    margin-bottom: 10px;
}

.card-link {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-top: auto;
}

   /* CARROUSEL */

.carousel-title {
    font-family: 'OpenSans-Bold', sans-serif;
    margin-top: 0;
    text-align: left;
    color: #1d2351;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.carousel-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px; /* Espaço para o dots-container */
    padding: 100px 150px;
    flex-wrap: wrap;  
}

.carousel-content {
    width: 50%;  
}

.dots-container{
    padding-top: 50px;
}

.carousel-indicators {
    list-style: disc;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    cursor: pointer;
}

.carousel-side-image {
    width: calc(40% - 20px); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.carousel-side-image img {
    max-width: 100%;
    height: auto;
}

.carousel-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.carousel-buttons button {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
}

.btn-primary.btn-lg, .btn-outline-primary.btn-lg{
    font-family: 'OpenSans-SemiBold', sans-serif;
    border: 2px solid;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    

}


/* FOOTER */
.footer-container {
    padding: 40px;
    background-color: #f2f4f7;
   
}

.footer-text-container{
    font-family: 'OpenSans-Regular', sans-serif;
    display: flex;
    margin-left: 140px;
}

.copyright{
    margin-right: 100px;
    color: #353535;
    font-size: 14px;
    opacity: 1; 
 
}

.link-list {
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.footer-container a {
    color: #353535;
    opacity: 0.7;
    font-size: 13px;
    margin: 0 25px;
}
  
  